@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');



.headerM {   /*Backgrnd fond search*/
  background-color:#d8b7b7 ;
  margin-left: 943px;
  margin-right: 0px;
    height: 50px;
    width:30%;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    position: right;
    margin-top: 0px;
    overflow: hidden;  
   

} 
.searchM{  /* backgrnd btn search*/
   
    display:flex;
    flex-direction: row;
    align-items: center;
   
  
   
}
.rating{
    width:280px;
    margin-left: 20px;
    
}

.search-field {
    padding: 10px 35px 10px 15px; 
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #fafafa;
    box-shadow: rgba(62, 62, 160, 0.25) 0px 6px 12px -2px,rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: rgb(0, 0, 0);
   
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}