@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.logoApp{
    width:300px;
    color:white;
    font-size: 45px;
    font-family: 'Ma Shan Zheng',cursive;
    margin-left: 100px
}

.headerM {
  
    margin-left: 500px;
    height:75px;
    width:70%;
    padding-bottom:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    overflow: hidden;

} 
.searchM{
   
    display:flex;
    flex-direction: row;
    align-items: center;
   
    margin-right: 70px;
}
.rating{
    width:170px;
    margin-left: 20px;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
    background-color: #fafafa;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: rgb(0, 0, 0);

}